.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.home::before {
  display: block;
  content: "";
  background: url("../../assets/solidariedade.jpg") no-repeat center center;
  background-size: cover;
}

.title{
  text-align: center;
  font-size: 2rem;
}

.subtitle{
  text-align: center;
}

.cards{
  margin-top: 2rem;
  gap: 1rem;
  display: grid;
}


@media (max-width: 40rem) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 0.5rem;
  }
  .cards{
    margin-top: 1rem;
  }
}